.cardHeroeDescription{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    border-style: solid;
    border-radius: 0.5rem 0.5rem 0.5rem 0.5rem;
    border-color: rgb(250, 248, 248);
    width: 800px;
    height: 500px;
    background-color: rgb(202, 140, 58);
    margin-top: 20px;
}

.cardHeroeDescription .Title{
    background-color: black;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 100%;
    border-radius: 0.5rem 0.5rem 0 0;
}

.cardHeroeDescription .boxImgDescription{
    display: flex;
    width: 100%;
}

.cardHeroeDescription .boxImg{
    display: flex;
    align-items: center;
    justify-content: flex-start;
    border-radius: 0.5rem 0.5rem 0.5rem 0.5rem;
    border-style: solid;
    border-color: rgb(5, 0, 0);
    margin: 10px;
}

.cardHeroeDescription .boxImg #img{
    width: 400px;
    height: 400px;
    border-radius: 0.5rem 0.5rem 0.5rem 0.5rem;
}

.cardHeroeDescription .boxDescription{
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 130%;
    color: rgb(199, 12, 12);
    margin: 8px;
}

.boxPageHeroe{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

/*==================series que participou====================*/
.seriesRow{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    margin: 10px;
}
.seriesRow .boxSeries{
    border-radius: 0.5rem 0.5rem 0.5rem 0.5rem;
    border-style: solid;
    border-color: rgb(5, 0, 0);
    margin: 5px;
}
.seriesRow .boxSeries .tittle{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: black;
    color: white;
    padding: 5px;
}
.seriesRow .boxSeries .content{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 5rem;
    background-color: rgb(202, 140, 58);
    color: rgb(199, 12, 12);
}